.DS_Store
.env
.env.*

bin/
dist/
build/
coverage/

*.log
*.out
*.test
.vercel
cmd/tacli/.tacli/tasks-v2.json
tacli
.cache
.cache
tacli
cmd/tacli/.tacli/
cmd/tacli/.tmp
cmd/tacli/.tacli/
cmd/tacli/.tmp
.tacli/
